/* ================================================
                    Mobile Menu  
=================================================== */
.navbar-header {
    position: relative;
}
#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 2;
    display: none;
    cursor: pointer;
}
#mobile-nav {
    /* By default mobile menu will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow-y: hidden;
}
#mobile-nav-close-btn {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #212226;
    cursor: pointer;
    position: absolute;
    right: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* To align close button on open button for white navigation */
.white-nav-top #mobile-nav-close-btn {
    top:-20px;   
}

#mobile-nav-content {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
    top: 10%;
}
#mobile-nav ul li {
    margin-bottom: 15px;
}
#mobile-nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #212226;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}

#mobile-nav .nav li.active a {
    color: #f4c613;
    font-weight: 500;
}

/* ================================================
            Bootstrap 3 Media Queries
=================================================== */

/* Large Devices ( Desktops and Laptops) */
@media (min-width: 1200px) and (max-width: 1289px) {
    
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;   
    }
}

/* Medium Devices ( Medium Desktops and Landscape Tablets) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;   
    }
    
    /* Headings */
    .vertical-heading h2,
    .horizontal-heading h2 {
        font-size: 26px;
    }
    
    /* Services 02 */
    .service-tab .tab-bg {
        padding: 20px 30px;
        min-height: 400px;
    }
    
    .service-tab p {
        line-height: 20px;   
    }
    
    .service-tab {
        min-height: 
    }
}

/* Small Devices ( Portrait Tablets and Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;   
    }
    
    /* Home */
    #home-heading h1 {
        font-size: 41px;
    }
    #home-text p {
        fontsiz: 14px;;   
    }
    
    /* Generic */
    .btn-general {
        padding: 8px 35px;;
        font-size: 12px;
    }
    
    /* Vertical Heading */
    .vertical-heading h2 {
        font-size: 32px;
    }

    /* Tech statement */
    #statement h3 {
        font-size: 20px;
        line-height: 30px;
    }
    
    /* Services 02 */
    .r-tabs-accordion-title {
        text-align: center;
    }
    .r-tabs-accordion-title a {
        color: #212226;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
    }
    .r-tabs-accordion-title.r-tabs-state-active a{
        color: #f4c613; 
        border-bottom: 2px solid #f4c613;
        padding-bottom: 4px;
        -webkit-transition: border-color 500 linear;
        transition: border-color 500 linear;
    }
    
    /* Prices */
    .pricing-table .price h2 {
        font-size: 30px;
        margin: 0 0 0 6px;
    }
    
    /* Stats */
    .stats-item p {
        line-height: 18px;
    }
    
    /* Blog */
    .post-meta p {
        line-height: 14px;
    }
    
    /* Contact */
    ul.office-details li {
        margin-right: 10px;   
    }
    
    ul.office-details li:first-child i {
        width: 15px;   
    }
    
    ul.office-details li:nth-child(3) i {
        width: 18px;   
    }
    
    ul.office-details li i {
        width: 25px;   
    }
    
    ul.office-details li i {
        width: 25px;   
    }

}

/* Extra Small Devices ( Landscape Phones and Portrait Tablet) */
@media (max-width: 767px) {
    
    /* Navigation */
    .navbar {
        padding: 20px 0;
    }
    
    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }
    #mobile-nav-open-btn {
        display: block;
    }
    
    /* Home */
    #home-heading h1 {
        font-size: 22px;
    }
    #home-text p {
        font-size: 12px;   
        line-height: 12px;
        margin: 8px 2px 30px 2px;
    }
    
    /* Generic */
    .btn-general {
        padding: 8px 25px;
        font-size: 12px;
    }
    
    .content-box-lg {
        padding: 80px 0;
    }
    .content-box-md {
        padding: 60px 0;
    }
    
    /* Vertical Heading */
    .vertical-heading {
        text-align: center;
    }
    .vertical-heading h5 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        position: static;
        margin-bottom: 10px;
    }
    .vertical-heading h2{
        font-size: 30px;
        line-height: normal;
        margin: 0;
    }
    
    /* Horizontal heading */
    .horizontal-heading {
        margin-bottom: 40px;
    }
    .horizontal-heading h2{
        font-size: 30px;   
    }
    
    /* About */
    #about-left {
        margin-bottom: 10px;
    }
    
    .about-item {
        padding: 55px 30px;
        margin-bottom: 30px;
    }
    
    .about-item i {
        font-size: 30px;
    }
    
    .about-item h3 {
        font-size: 18px;
    }
    
    /* Team */
    .skill h4 {
        line-height: 35px;
        font-weight: 14px;
    }
    
    /* Tech statement */
    #statement h3 {
        font-size: 20px;
        line-height: 25px;
    }

    /* Services */
    #services-01 img {
        margin: 35px 0;
    }
    .service,
    .service .icon {
        text-align: center;
    }
    .service h4 {
        font-size: 18px;
    }
    
    /* Services 02 */
    .r-tabs-accordion-title {
        text-align: center;
    }
    .r-tabs-accordion-title a {
        color: #212226;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
    }
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613; 
        border-bottom: 2px solid #f4c613;
        padding-bottom: 4px;
        -webkit-transition: border-color 500 linear;
        transition: border-color 500 linear;
    }
    .service-tab .tab-bg {
        text-align: center;
        padding: 40px 25px;
    }
    .service-tab h2 {
        font-size: 35px;   
    }
    .service-tab h3 {
        font-size: 25px;   
    }
    
    /* Portfolio */
    #portfolio {
        padding: 0;
    }
    #portfolio .vertical-heading {
        margin-bottom: 40px;
    }
    #isotope-filters button {
        margin-right: 10px;
    }

    /* Testimonial */
    #testimonials {
        padding-top: 35px;
    }
    #testimonial-slider {
        top: 0;
    }
    #testimonials .vertical-heading {
        padding: 0;
    }
    .testimonial h3 {
        font-size: 20px;
    }
    .testimonial .stars {
        font-size: 16px;
    }
    .testimonial .row {
        margin: 0;
    }
    .author img {
        width: 80px !important;
    }
    
    /* Pricing */
    .pricing-table {
        margin-bottom: 30px;
    }
    .pricing-table .price h2 {
        font-size: 30px;
    }
    
    /* Stats */
    .stats-item {
        margin-bottom: 30px;   
    }
    
    .stats-item h3 {
        font-size: 26px;
    }
    
    /* Blog */
    .blog-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .blog-post {
        margin-bottom: 25px;
    }
    
    /* Contact */
    #contact-left {
        text-align: center;
    }
    .office {
        margin-bottom: 30px;
    }
    ul.office-details li {
        display: block;
        margin-bottom: 10px;
    }
    
    ul.office-details li i {
        width: auto;
        display: block;
    }
    
    .office h4 {
        font-weight: 600;
    }
    
    ul.social-list {
        margin-bottom: 60px;
    }   
}

@media (max-width: 500px) {
    .stats-item h3 {
        font-size: 20px;
    }
    .stats-item p {
        font-size: 9px;
    }
}

@media (max-width: 480px) {
    /* Home */
    #home-heading h1 {
        font-size: 18px;
    }
    #home-text p {
        font-size: 11px;   
        line-height: 12px;
        margin: 8px 2px 30px 2px;
    }
    
    /* Generic */
    .btn-general {
        padding: 6px 18px;
        font-size: 12px;
    }
    .vertical-heading h2 {
        font-size: 24px
    }
    .horizontal-heading h2 {
        font-size: 24px
    }
    
    /* Portfolio */
    #isotope-filters {
        text-align: center;
    }
    #isotope-filters button {
        font-size: 10px;
        margin-right: 14px !important;
    }
    
    /* Testimonials */
    .testimonial h3 {
        font-size: 14px;
        line-height: 18px;
    }
    .testimonial .stars {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    /* Testimonials */
    .testimonial h3 {
        font-size: 12px;
        line-height: 14px;
    }
    .testimonial .stars {
        font-size: 10px;
    }
}
