/* ================================================
    Default Theme
    -----------------------------------------------
    Font: Raleway and Open-Sans
    -----------------------------------------------
    Colors:
        Moon Yelow:             #f4c613
        Grey:                   #212226
        Smoke White:            #f4f4f4
        White:                  #fff
        Black:                  #000
=================================================== */


/* ================================================
                    Preloader
=================================================== */

#preloader {
    background-color: #fff;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../images/preloader/preloader.gif);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


/* ================================================
                    Home
=================================================== */
#home-bg-video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);
    background: url(../video/solo.jpg);
    background-size: cover;
    z-index: -1;
}